.ecran-de-desktop {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.ecran-de-desktop .footer {
  display: flex;
  flex-wrap: wrap;
  width: 1440px;
  align-items: flex-start;
  gap: var(--size-space-400);
  padding: var(--size-space-800) var(--size-space-800) 32px
    var(--size-space-800);
  position: absolute;
  top: 854px;
  left: 1px;
  background-color: var(--color-background-default-default);
  border-top-width: 1px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-color: var(--color-border-default-default);
  transform: rotate(0.18deg);
}

.ecran-de-desktop .title {
  position: relative;
  width: 263.84px;
  margin-top: -2.13px;
  margin-left: -1.71px;
  transform: rotate(-0.18deg);
}

.ecran-de-desktop .text-link-list {
  display: flex;
  flex-direction: column;
  width: 262px;
  align-items: flex-start;
  gap: var(--size-space-300);
  position: relative;
}

.ecran-de-desktop .text-strong-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 0px var(--size-space-400) 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.ecran-de-desktop .text-strong {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.ecran-de-desktop .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-strong-font-family);
  font-weight: var(--body-strong-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-strong-font-size);
  letter-spacing: var(--body-strong-letter-spacing);
  line-height: var(--body-strong-line-height);
  white-space: nowrap;
  font-style: var(--body-strong-font-style);
}

.ecran-de-desktop .text-link-list-item {
  position: relative;
  width: 89px;
  height: 22px;
}

.ecran-de-desktop .list-item {
  position: absolute;
  width: 142.70%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  white-space: nowrap;
  font-style: var(--body-base-font-style);
}

.ecran-de-desktop .div {
  width: 113.48%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  white-space: nowrap;
  font-style: var(--body-base-font-style);
}

.ecran-de-desktop .list-item-2 {
  width: 86.52%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  white-space: nowrap;
  font-style: var(--body-base-font-style);
}

.ecran-de-desktop .list-item-3 {
  width: 124.72%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  white-space: nowrap;
  font-style: var(--body-base-font-style);
}

.ecran-de-desktop .list-item-4 {
  width: 98.88%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  white-space: nowrap;
  font-style: var(--body-base-font-style);
}

.ecran-de-desktop .body {
  position: absolute;
  top: calc(50.00% - 383px);
  left: calc(50.00% - 572px);
  width: 1226px;
  height: 237px;
}

.ecran-de-desktop .body-2 {
  position: absolute;
  width: 100%;
  height: 85.65%;
  top: 0;
  left: 0;
}

.ecran-de-desktop .rectangle {
  width: 0;
  height: 10.84%;
  top: 89.16%;
  left: 0;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.ecran-de-desktop .text-wrapper-2 {
  position: absolute;
  width: 11.58%;
  height: 9.36%;
  top: 89.16%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #000000;
  font-size: var(--single-line-body-base-font-size);
  text-align: center;
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.ecran-de-desktop .rectangle-2 {
  width: 0;
  height: 10.84%;
  top: 88.67%;
  left: 18.11%;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.ecran-de-desktop .text-wrapper-3 {
  position: absolute;
  width: 13.30%;
  height: 9.85%;
  top: 88.67%;
  left: 20.07%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #000000;
  font-size: var(--single-line-body-base-font-size);
  text-align: center;
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.ecran-de-desktop .rectangle-3 {
  width: 0;
  height: 10.84%;
  top: 89.16%;
  left: 37.93%;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.ecran-de-desktop .text-wrapper-4 {
  position: absolute;
  width: 13.30%;
  height: 9.85%;
  top: 89.16%;
  left: 39.89%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #000000;
  font-size: var(--single-line-body-base-font-size);
  text-align: center;
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.ecran-de-desktop .rectangle-4 {
  width: 0;
  height: 10.84%;
  top: 89.16%;
  left: 57.75%;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.ecran-de-desktop .text-wrapper-5 {
  position: absolute;
  width: 19.17%;
  height: 9.85%;
  top: 89.16%;
  left: 59.71%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #000000;
  font-size: var(--single-line-body-base-font-size);
  text-align: center;
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.ecran-de-desktop .rectangle-5 {
  width: 0;
  height: 10.84%;
  top: 88.18%;
  left: 83.44%;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.ecran-de-desktop .text-wrapper-6 {
  position: absolute;
  width: 14.60%;
  height: 9.85%;
  top: 88.18%;
  left: 85.40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #000000;
  font-size: var(--single-line-body-base-font-size);
  text-align: center;
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.ecran-de-desktop .text-wrapper-7 {
  position: absolute;
  width: 38.66%;
  height: 50.25%;
  top: 0;
  left: 25.94%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
}

.ecran-de-desktop .text-wrapper-8 {
  position: absolute;
  width: 10.28%;
  height: 9.70%;
  top: 90.30%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #858181;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
}

.ecran-de-desktop .text-wrapper-9 {
  left: 18.11%;
  position: absolute;
  width: 10.28%;
  height: 9.70%;
  top: 90.30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #858181;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
}

.ecran-de-desktop .text-wrapper-10 {
  left: 37.93%;
  position: absolute;
  width: 10.28%;
  height: 9.70%;
  top: 90.30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #858181;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
}

.ecran-de-desktop .text-wrapper-11 {
  left: 57.75%;
  position: absolute;
  width: 10.28%;
  height: 9.70%;
  top: 90.30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #858181;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
}

.ecran-de-desktop .text-wrapper-12 {
  left: 83.44%;
  position: absolute;
  width: 10.28%;
  height: 9.70%;
  top: 90.30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #858181;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
}

.ecran-de-desktop .button-valider {
  position: absolute;
  top: 793px;
  left: 678px;
  width: 86px;
  height: 26px;
}

.ecran-de-desktop .rectangle-6 {
  top: 0;
  left: 0;
  width: 84px;
  height: 26px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.ecran-de-desktop .text-wrapper-13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.ecran-de-desktop .header {
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.ecran-de-desktop .header-2 {
  flex-wrap: wrap;
  width: 1440px;
  gap: var(--size-space-600);
  padding: var(--size-space-800);
  background-color: var(--color-background-positive-default);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--color-border-default-default);
  display: flex;
  align-items: center;
  position: relative;
}

.ecran-de-desktop .block {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.ecran-de-desktop .figma {
  display: flex;
  width: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ecran-de-desktop .icon {
  position: relative;
  width: 26.83px;
  height: 38.5px;
  margin-top: -1.75px;
  margin-bottom: -1.75px;
}

.ecran-de-desktop .navigation-pill-list {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
}

.ecran-de-desktop .header-auth {
  justify-content: flex-end;
  gap: var(--size-space-300);
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.ecran-de-desktop .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-brand-default);
}

.ecran-de-desktop .user {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-on-brand);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}
/* Inject original CSS code here */

.ecran-de-desktop {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.ecran-de-desktop .header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  position: relative;
  z-index: 10;
}

.ecran-de-desktop .header-2 {
  flex-wrap: wrap;
  width: 100%;
  gap: var(--size-space-600);
  padding: var(--size-space-800);
  background-color: var(--color-background-positive-default);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--color-border-default-default);
  display: flex;
  align-items: center;
  position: relative;
}

.ecran-de-desktop .block {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.ecran-de-desktop .figma {
  display: flex;
  width: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.ecran-de-desktop .icon {
  position: relative;
  width: 26.83px;
  height: 38.5px;
  margin-top: -1.75px;
  margin-bottom: -1.75px;
}

.ecran-de-desktop .navigation-pill-list {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
}

.ecran-de-desktop .header-auth {
  justify-content: flex-end;
  gap: var(--size-space-300);
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.ecran-de-desktop .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-brand-default);
  cursor: pointer;
}

.ecran-de-desktop .button:hover {
  background-color: var(--color-background-brand-hover);
}

.ecran-de-desktop .user {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-on-brand);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.ecran-de-desktop .body {
  position: relative;
  width: 100%;
  max-width: 1226px;
  margin: 129px auto 0;
  padding: 0 var(--size-space-800);
  flex: 1;
}

.ecran-de-desktop .body-2 {
  position: relative;
  width: 100%;
}

.ecran-de-desktop .text-wrapper-7 {
  width: 100%;
  text-align: center;
  margin-bottom: 102px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 32px;
}

.ecran-de-desktop .actions-form {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: relative;
}

.ecran-de-desktop .action-item {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  margin-bottom: 23px;
}

.ecran-de-desktop .rectangle,
.ecran-de-desktop .rectangle-2,
.ecran-de-desktop .rectangle-3,
.ecran-de-desktop .rectangle-4,
.ecran-de-desktop .rectangle-5 {
  appearance: none;
  width: 22px;
  height: 22px;
  background-color: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  flex-shrink: 0;
  margin: 0;
  position: relative;
}

.ecran-de-desktop .rectangle:checked,
.ecran-de-desktop .rectangle-2:checked,
.ecran-de-desktop .rectangle-3:checked,
.ecran-de-desktop .rectangle-4:checked,
.ecran-de-desktop .rectangle-5:checked {
  background-color: var(--color-background-positive-default);
  border-color: var(--color-background-positive-default);
}

.ecran-de-desktop .rectangle:checked::after,
.ecran-de-desktop .rectangle-2:checked::after,
.ecran-de-desktop .rectangle-3:checked::after,
.ecran-de-desktop .rectangle-4:checked::after,
.ecran-de-desktop .rectangle-5:checked::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

.ecran-de-desktop .text-wrapper-2,
.ecran-de-desktop .text-wrapper-3,
.ecran-de-desktop .text-wrapper-4,
.ecran-de-desktop .text-wrapper-5,
.ecran-de-desktop .text-wrapper-6 {
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #000000;
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
  cursor: pointer;
  flex: 0 0 auto;
  white-space: nowrap;
}

.ecran-de-desktop .text-wrapper-8,
.ecran-de-desktop .text-wrapper-9,
.ecran-de-desktop .text-wrapper-10,
.ecran-de-desktop .text-wrapper-11,
.ecran-de-desktop .text-wrapper-12 {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #858181;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: auto;
  white-space: nowrap;
}

.ecran-de-desktop .button-valider {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0 61px;
}

.ecran-de-desktop .rectangle-6 {
  all: unset;
  box-sizing: border-box;
  width: 84px;
  height: 26px;
  background-color: #ffffff;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.ecran-de-desktop .rectangle-6:hover {
  background-color: var(--color-background-default-secondary-hover);
}

.ecran-de-desktop .text-wrapper-13 {
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
}

.ecran-de-desktop .footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  gap: var(--size-space-400);
  padding: var(--size-space-800) var(--size-space-800) 32px
    var(--size-space-800);
  background-color: var(--color-background-default-default);
  border-top-width: 1px;
  border-top-style: solid;
  border-color: var(--color-border-default-default);
  margin-top: auto;
}

.ecran-de-desktop .title {
  position: relative;
  width: 263.84px;
  margin-top: -2.13px;
  margin-left: -1.71px;
}

.ecran-de-desktop .text-link-list {
  display: flex;
  flex-direction: column;
  width: 262px;
  align-items: flex-start;
  gap: var(--size-space-300);
  position: relative;
}

.ecran-de-desktop .text-strong-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0px 0px var(--size-space-400) 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.ecran-de-desktop .text-strong {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.ecran-de-desktop .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-strong-font-family);
  font-weight: var(--body-strong-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-strong-font-size);
  letter-spacing: var(--body-strong-letter-spacing);
  line-height: var(--body-strong-line-height);
  white-space: nowrap;
  font-style: var(--body-strong-font-style);
}

.ecran-de-desktop .footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--size-space-300);
  width: 100%;
}

.ecran-de-desktop .text-link-list-item {
  position: relative;
  width: 100%;
}

.ecran-de-desktop .list-item,
.ecran-de-desktop .div,
.ecran-de-desktop .list-item-2,
.ecran-de-desktop .list-item-3,
.ecran-de-desktop .list-item-4 {
  display: inline-block;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
  text-decoration: none;
  cursor: pointer;
}

.ecran-de-desktop .list-item:hover,
.ecran-de-desktop .div:hover,
.ecran-de-desktop .list-item-2:hover,
.ecran-de-desktop .list-item-3:hover,
.ecran-de-desktop .list-item-4:hover {
  text-decoration: underline;
}
