main {
  display: flex;
  flex-direction: column; 
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex: 1; 
}

#points {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
}

#points-entreprise, 
#points-utilisateur {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px; 
}

#activite, 
#formation{
  flex: 1;      
  min-width: 500px;   
  background-color: #fafafa;
  border: 1px solid #010101;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin : 5px;
}

.cadre {
  width: 100%;
  height: 50px;
  border: 4px solid #25e422;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}

.modal.active {
    display: flex;
}

.modal-footer {
  display : flex;
  align-items : center; 
  justify-content: space-evenly
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
}
.reminder-badge {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #00f566;
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  z-index: 999;
  transition: transform 0.2s;
}

.reminder-badge:hover {
  transform: scale(1.05);
  background-color: #00f721;
}

