.component {
  margin-left: 96px;
  width: 1291px;
  height: 595px;
  position: relative;
  margin-top: 17px;
}

.points-section {
  position: absolute;
  width: 11.15%;
  top: 0;
  left: 75.45%;
}

.points-section-user {
  position: absolute;
  width: 11.15%;
  top: 0;
  left: 88.85%;
}

.rectangle {
  position: absolute;
  width: 100%;
  height: 8.74%;
  top: 9.92%;
  left: 0;
  border: 4px solid;
  border-color: #25e422;
}

.text-wrapper {
  position: absolute;
  width: 100%;
  height: 8.74%;
  top: 9.92%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #000000;
  font-size: var(--single-line-body-base-font-size);
  text-align: center;
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.rectangle-2 {
  position: absolute;
  width: 100%;
  height: 8.74%;
  top: 9.92%;
  left: 0;
  border: 4px solid;
  border-color: #223ce4;
}

.text-wrapper-2 {
  position: absolute;
  width: 100%;
  height: 8.74%;
  top: 9.92%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #000000;
  font-size: var(--single-line-body-base-font-size);
  text-align: center;
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.p {
  left: 0;
  position: absolute;
  width: 100%;
  height: 9.92%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 10px;
  margin: 0;
}

.text-wrapper-3 {
  left: 0;
  position: absolute;
  width: 100%;
  height: 9.92%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 10px;
  margin: 0;
}

.rectangle-3 {
  position: absolute;
  width: 60.26%;
  height: 28.07%;
  top: 36.81%;
  left: 0;
  background-color: #47c262;
}

.rectangle-4 {
  position: absolute;
  width: 60.26%;
  height: 28.07%;
  top: 71.93%;
  left: 0;
  background-color: #48c363;
}

.text-wrapper-4 {
  width: 26.6%;
  top: 0;
  position: absolute;
  height: 7.39%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  margin: 0;
}

.text-wrapper-5 {
  width: 31.2%;
  top: 0;
  position: absolute;
  height: 7.39%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  margin: 0;
}

.text-wrapper-6 {
  position: absolute;
  width: 91.9%;
  height: 7.39%;
  top: 43.5%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
  margin: 0;
}

.text-wrapper-7 {
  position: absolute;
  width: 91.9%;
  height: 7.39%;
  top: 42.8%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
  white-space: nowrap;
  margin: 0;
}
