footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
  gap: var(--size-space-400);
  padding: var(--size-space-800) var(--size-space-800) 32px
    var(--size-space-800);
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.26px;
  background-color: var(--color-background-default-default);
  border-top-width: 1px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-color: var(--color-border-default-default);
}

.title {
  position: relative;
  width: 9rem;
  height: auto;
  margin-top: -2.13px;
  margin-left: -1.71px;
}

.liste-liens {
  display: flex;
  flex-direction: column;
  width: 262px;
  align-items: flex-start;
  gap: var(--size-space-300);
  position: relative;
}

.text-strong {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-strong-font-family), serif;
  font-weight: var(--body-strong-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-strong-font-size);
  letter-spacing: var(--body-strong-letter-spacing);
  line-height: var(--body-strong-line-height);
  white-space: nowrap;
  font-style: var(--body-strong-font-style);
}

.liste-liens-item {
  position: relative;
  width: 89px;
  height: 22px;
}

.lien {
  position: absolute;
  width: 142.70%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  font-family: var(--body-base-font-family), serif;
  font-weight: var(--body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  white-space: nowrap;
  font-style: var(--body-base-font-style);
  text-decoration: none;
}

.lien:hover {
  text-decoration: underline;
}

.lien:focus {
  outline: 2px solid var(--color-border-brand-default);
  outline-offset: 2px;
}

#logo-link-footer {
  display: flex;
  width: 10%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}