h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--title-hero-font-family), serif;
    font-weight: var(--title-hero-font-weight);
    font-style: var(--title-hero-font-style);
}

.top_part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_part .searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.top_part input {
    padding: 6px 10px 6px 20px;
    margin-top: 8px;
    font-size: 26px;
    border-radius: 30px 0 0 30px;
}

.search_button {
    margin-top: 8px;
    position: relative;
    width: 47px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 0 50% 50% 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.btn_type {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.type_search {
    padding: var(--size-space-300);
    font-family: var(--single-line-body-base-font-family), serif;
    color: var(--color-text-default-default);
    font-size: var(--single-line-body-base-font-size);
    border: 1px solid var(--color-background-positive-default);
    border-radius: var(--size-radius-200);
    background-color: #ffffff;
}

.type_search:hover {
    background-color: var(--color-background-positive-default);
    cursor: pointer;
}

.btn_selected {
    background-color: var(--color-background-positive-default);
    cursor: pointer;
    border-radius: var(--size-radius-200);
    padding: var(--size-space-300);
    pointer-events: none;
}

.result_section {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    background: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    font-family: var(--title-hero-font-family), serif;
}

.list_result {
    display: flex;
    flex-direction: column;
    padding: var(--size-space-300);
}

.list_result h2 {
    font-style: var(--title-hero-font-style);
    font-weight: var(--title-hero-font-weight);
}

.search_result {
    margin: 5px;
    padding: 10px;
    border: #222222 1px solid;
    align-items: center;
    border-radius: 10px;
    background-color: white;
}

.search_result:hover {
    margin: 10px;
    padding: 10px;
    border: none;
    align-items: center;
    border-radius: 10px;
    color: white;
    background-color: var(--color-background-positive-default);
}

.pu-top-actions {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    max-width: 100%; 
    padding: 0; 
    margin-bottom: 20px;
    
}

.pu-btn.secondary {
    color : rgb(255, 255, 255);
    background-color: var(--color-primitives-green-500-duplicate); 
    border-radius: var(--size-radius-200);
}