* {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
a:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline-offset: 2px;
}

body {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  min-height: 100vh;
  align-items: stretch;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}
