.header {
  display: flex;
  width: 100%;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: var(--size-space-600);
  padding: var(--size-space-800);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-positive-default-duplicate);
  border-top-style: none;
  border-right-style: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: var(--color-border-default-default);
}

#site_logo {
    max-width: 85%;
    height: auto;
    display: block;
}

.header-auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--size-space-300);
  position: relative;
  flex: 1;
}

.bouton-blanc {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-brand-tertiary);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-neutral-secondary);
  cursor: pointer;
}

.bouton-blanc:hover {
  background-color: var(--color-background-neutral-tertiary-hover);
}

.bouton-blanc:focus {
  outline: 2px solid var(--color-border-brand-default);
  outline-offset: 2px;
}

.bouton-noir {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-brand-default);
  cursor: pointer;
}

.bouton-noir:hover {
  background-color: var(--color-background-brand-hover);
}

.bouton-noir:focus {
  outline: 2px solid var(--color-border-brand-default);
  outline-offset: 2px;
}

.icon_container {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px; 
    height: 70px;
    background-color: white; 
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--color-border-default-default); 
}

.logo-link {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

#connexion_compte{
  color: white;
}

.skip-links__link {
    border: .0625rem solid #000000;
    font-weight: bold;
    display: block;
    font-size: .75rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    text-decoration: none;
}
.skip-links {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
}

.visually-hidden-focusable:focus-visible, 
.visually-hidden-focusable:focus-within {
    position: fixed !important;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: #000000; /* Fond noir pour être bien vu */
    color: #fff;            /* Texte blanc */
    padding: 5px;
    font-weight: bold;      /* Texte en gras */
    z-index: 2000;          /* Passe par-dessus le header */
    border-radius : 5px;
}

.visually-hidden-focusable:not(:focus-visible,:focus-within) {
    position: absolute !important;
    top: -1000px;
}