.header {
  display: flex;
  width: 100%;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.header-2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: var(--size-space-600);
  padding: var(--size-space-800);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-positive-default-duplicate);
  border-top-style: none;
  border-right-style: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: var(--color-border-default-default);
}

.block {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.Osmose {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: relative;
  text-decoration: none;
}

.icon {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.header-auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--size-space-300);
  position: relative;
  flex: 1;
}

.button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-brand-tertiary);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-neutral-secondary);
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-background-neutral-tertiary-hover);
}

.button:focus {
  outline: 2px solid var(--color-border-brand-default);
  outline-offset: 2px;
}

.deco-reco {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family), serif;
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-default-default);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.div {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: var(--size-space-200);
  position: relative;
  flex: 0 0 auto;
  background-color: var(--color-background-brand-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-brand-default);
  cursor: pointer;
}

.div:hover {
  background-color: var(--color-background-brand-hover);
}

.div:focus {
  outline: 2px solid var(--color-border-brand-default);
  outline-offset: 2px;
}

.button-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--single-line-body-base-font-family), serif;
  font-weight: var(--single-line-body-base-font-weight);
  color: var(--color-text-brand-on-brand);
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.icon_container {
    margin-top: -1.75px;
    margin-bottom: -1.75px;
    position: relative;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}