:root {
    --single-line-body-base-font-family: "Inter", Helvetica;
    --single-line-body-base-font-weight: 400;
    --single-line-body-base-font-size: 16px;
    --single-line-body-base-letter-spacing: 0px;
    --single-line-body-base-line-height: 100%;
    --single-line-body-base-font-style: normal;
    --title-hero-font-family: "Inter", Helvetica;
    --title-hero-font-weight: 700;
    --title-hero-font-size: 72px;
    --title-hero-letter-spacing: -2.16px;
    --title-hero-line-height: 120.00000476837158%;
    --title-hero-font-style: normal;
    --body-base-font-family: "Inter", Helvetica;
    --body-base-font-weight: 400;
    --body-base-font-size: 16px;
    --body-base-letter-spacing: 0px;
    --body-base-line-height: 139.9999976158142%;
    --body-base-font-style: normal;
    --m3-display-medium-font-family: "Roboto", Helvetica;
    --m3-display-medium-font-weight: 400;
    --m3-display-medium-font-size: 45px;
    --m3-display-medium-letter-spacing: 0px;
    --m3-display-medium-line-height: 52px;
    --m3-display-medium-font-style: normal;
    --body-strong-font-family: "Inter", Helvetica;
    --body-strong-font-weight: 600;
    --body-strong-font-size: 16px;
    --body-strong-letter-spacing: 0px;
    --body-strong-line-height: 139.9999976158142%;
    --body-strong-font-style: normal;
    --color-text-default-default: var(--color-primitives-gray-900);
    --color-text-brand-on-brand: var(--color-primitives-brand-100);
    --color-text-default-default-duplicate: var(
            --color-primitives-gray-900-duplicate
    );
    --color-text-brand-on-brand-duplicate: var(
            --color-primitives-brand-100-duplicate
    );
    --color-background-positive-default: var(--color-primitives-green-500);
    --color-background-brand-tertiary: var(--color-primitives-brand-100);
    --color-background-brand-default: var(--color-primitives-brand-800);
    --color-background-default-default: var(--color-primitives-white-1000);
    --color-border-neutral-secondary: var(--color-primitives-slate-600);
    --color-border-brand-default: var(--color-primitives-brand-800);
    --color-border-default-default: var(--color-primitives-gray-300);
    --color-background-positive-default-duplicate: var(
            --color-primitives-green-500-duplicate
    );
    --color-background-brand-default-duplicate: var(
            --color-primitives-brand-800-duplicate
    );
    --color-background-brand-hover: var(--color-primitives-brand-900-duplicate);
    --color-border-brand-default-duplicate: var(
            --color-primitives-brand-800-duplicate
    );
    --color-text-brand-on-brand-secondary: var(--color-primitives-brand-900);
    --color-background-neutral-tertiary: var(--color-primitives-slate-200);
    --color-background-brand-hover-duplicate: var(--color-primitives-brand-900);
    --color-background-neutral-tertiary-hover: var(--color-primitives-slate-300);
    --color-background-default-secondary-hover: var(--color-primitives-gray-200);
    --color-background-default-secondary: var(--color-primitives-gray-100);
    --color-primitives-gray-900: rgba(30, 30, 30, 1);
    --color-primitives-brand-100: rgba(245, 245, 245, 1);
    --color-primitives-gray-900-duplicate: rgba(30, 30, 30, 1);
    --color-primitives-brand-100-duplicate: rgba(245, 245, 245, 1);
    --color-primitives-white-1000: rgba(255, 255, 255, 1);
    --color-primitives-brand-900: rgba(30, 30, 30, 1);
    --color-primitives-white-1000-duplicate: rgba(255, 255, 255, 1);
    --color-primitives-brand-900-duplicate: rgba(30, 30, 30, 1);
    --color-primitives-green-500: rgba(20, 174, 92, 1);
    --color-primitives-brand-800: rgba(44, 44, 44, 1);
    --color-primitives-brand-600: rgba(68, 68, 68, 1);
    --color-primitives-slate-600: rgba(118, 118, 118, 1);
    --color-primitives-green-700: rgba(0, 128, 67, 1);
    --color-primitives-brand-b-800: rgba(119, 0, 0, 1);
    --color-primitives-gray-300: rgba(217, 217, 217, 1);
    --color-primitives-slate-500: rgba(148, 148, 148, 1);
    --color-primitives-gray-600: rgba(68, 68, 68, 1);
    --color-primitives-green-500-duplicate: rgba(20, 174, 92, 1);
    --color-primitives-green-700-duplicate: rgba(0, 128, 67, 1);
    --color-primitives-brand-800-duplicate: rgba(44, 44, 44, 1);
    --color-primitives-brand-300: rgba(217, 217, 217, 1);
    --color-primitives-slate-200: rgba(227, 227, 227, 1);
    --color-primitives-slate-900: rgba(48, 48, 48, 1);
    --color-primitives-slate-300: rgba(205, 205, 205, 1);
    --color-primitives-brand-300-duplicate: rgba(217, 217, 217, 1);
    --color-primitives-slate-1000: rgba(36, 36, 36, 1);
    --color-primitives-gray-200: rgba(230, 230, 230, 1);
    --color-primitives-gray-100: rgba(245, 245, 245, 1);
    --color-primitives-gray-800: rgba(44, 44, 44, 1);
    --size-space-400: 16px;
    --size-space-300: 12px;
    --size-space-200: 8px;
    --size-radius-200: 8px;
    --size-space-800: 32px;
    --size-space-600: 24px;
    --responsive-device-width: 1200px;
    --typography-primitives-scale-06: 32px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="SDS-light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="SDS-light"] {
    --color-text-default-default: var(--color-primitives-gray-900);
    --color-text-brand-on-brand: var(--color-primitives-brand-100);
    --color-text-default-default-duplicate: var(
            --color-primitives-gray-900-duplicate
    );
    --color-text-brand-on-brand-duplicate: var(
            --color-primitives-brand-100-duplicate
    );
    --color-background-positive-default: var(--color-primitives-green-500);
    --color-background-brand-tertiary: var(--color-primitives-brand-100);
    --color-background-brand-default: var(--color-primitives-brand-800);
    --color-background-default-default: var(--color-primitives-white-1000);
    --color-border-neutral-secondary: var(--color-primitives-slate-600);
    --color-border-brand-default: var(--color-primitives-brand-800);
    --color-border-default-default: var(--color-primitives-gray-300);
    --color-background-positive-default-duplicate: var(
            --color-primitives-green-500-duplicate
    );
    --color-background-brand-default-duplicate: var(
            --color-primitives-brand-800-duplicate
    );
    --color-background-brand-hover: var(--color-primitives-brand-900-duplicate);
    --color-border-brand-default-duplicate: var(
            --color-primitives-brand-800-duplicate
    );
    --color-text-brand-on-brand-secondary: var(--color-primitives-brand-900);
    --color-background-neutral-tertiary: var(--color-primitives-slate-200);
    --color-background-brand-hover-duplicate: var(--color-primitives-brand-900);
    --color-background-neutral-tertiary-hover: var(--color-primitives-slate-300);
    --color-background-default-secondary-hover: var(--color-primitives-gray-200);
    --color-background-default-secondary: var(--color-primitives-gray-100);
}

[data-color-mode="SDS-dark"] {
    --color-text-default-default: var(--color-primitives-white-1000);
    --color-text-brand-on-brand: var(--color-primitives-brand-900);
    --color-text-default-default-duplicate: var(
            --color-primitives-white-1000-duplicate
    );
    --color-text-brand-on-brand-duplicate: var(
            --color-primitives-brand-900-duplicate
    );
    --color-background-positive-default: var(--color-primitives-green-700);
    --color-background-brand-tertiary: var(--color-primitives-brand-600);
    --color-background-brand-default: var(--color-primitives-brand-100);
    --color-background-default-default: var(--color-primitives-gray-900);
    --color-border-neutral-secondary: var(--color-primitives-slate-500);
    --color-border-brand-default: var(--color-primitives-brand-100);
    --color-border-default-default: var(--color-primitives-gray-600);
    --color-background-positive-default-duplicate: var(
            --color-primitives-green-700-duplicate
    );
    --color-background-brand-default-duplicate: var(
            --color-primitives-brand-100-duplicate
    );
    --color-background-brand-hover: var(--color-primitives-brand-300);
    --color-border-brand-default-duplicate: var(
            --color-primitives-brand-100-duplicate
    );
    --color-text-brand-on-brand-secondary: var(--color-primitives-brand-100);
    --color-background-neutral-tertiary: var(--color-primitives-slate-900);
    --color-background-brand-hover-duplicate: var(
            --color-primitives-brand-300-duplicate
    );
    --color-background-neutral-tertiary-hover: var(--color-primitives-slate-1000);
    --color-background-default-secondary-hover: var(--color-primitives-gray-900);
    --color-background-default-secondary: var(--color-primitives-gray-800);
}

[data-color-mode="brand-b-light"] {
    --color-text-default-default: var(--color-primitives-gray-900);
    --color-text-brand-on-brand: var(--color-primitives-brand-100);
    --color-background-brand-tertiary: var(--color-primitives-brand-100);
    --color-background-brand-default: var(--color-primitives-brand-b-800);
    --color-background-default-default: var(--color-primitives-white-1000);
    --color-border-neutral-secondary: var(--color-primitives-slate-600);
    --color-border-brand-default: var(--color-primitives-brand-800);
    --color-border-default-default: var(--color-primitives-gray-300);
    --color-background-positive-default-duplicate: var(
            --color-primitives-green-500-duplicate
    );
    --color-text-brand-on-brand-secondary: var(--color-primitives-brand-900);
    --color-background-neutral-tertiary: var(--color-primitives-slate-200);
    --color-background-brand-hover-duplicate: var(--color-primitives-brand-900);
    --color-background-neutral-tertiary-hover: var(--color-primitives-slate-300);
    --color-background-default-secondary-hover: var(--color-primitives-gray-200);
    --color-background-default-secondary: var(--color-primitives-gray-100);
}

[data-responsive-mode="desktop"] {
    --responsive-device-width: 1200px;
}

[data-responsive-mode="mobile"] {
    --responsive-device-width: 375px;
}

[data-responsive-mode="tablet"] {
    --responsive-device-width: 768px;
}